ansible_distribution_release: trusty

postgres_listen_addresses:
  - '*'
postgres_port: 5432

postgres_log_destination: stderr
postgres_syslog_facility: LOCAL0
postgres_syslog_ident: postgres

postgres_allowed_hosts:
    -
      address: '10.0.2.2/24'


postgresql_owner: 'postgres'
postgresql_password: 'postgres'

php_error_reporting: E_ALL
php_display_errors: On
php_upload_max_filesize: 20M
php_post_max_size: 25M

mysql_root_user: root
mysql_root_pass: root
mysql_bind_address: 0.0.0.0  # Allows all connections, for Production it should be 127.0.0.1
mysql_key_buffer: 64M

vhosts:
  [
    { name: 'phpmyadmin.lc', server_name: 'phpmyadmin.lc', rootFolder: '/usr/share/phpmyadmin/'},
  ]

github_oauth_token: 'cdcab1db135aca709e3d7eea9801aaca2e183821'


# List of packags to install
nodejs_packages: [ 'nodejs' ]

nodejs_npm_packages: ['less']

#  replace with the version of Node.js or io.js you want to install, it should take the following
#  form: node_0.10, node_0.12 or iojs_1.x, iojs_2.x, etc.
nodejs_upstream: 'node_0.12'

# APT repository which will be added for nodesource.com
nodejs_upstream_repo: 'deb https://deb.nodesource.com/{{ nodejs_upstream }} {{ ansible_distribution_release }} main'